*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Georgia;
    font-size: large;
}

.contenedor{
    margin: 1%;
    height: 100%;

    
    background-color: teal;
}

.form{
    padding: 1%;
    
    text-align: justify;
    width: 95%;

    min-height: 650px;

    justify-content: center;
    align-items: center;
    
    /* Colores */
    border: black solid 3px;
    background-color: whitesmoke;
    color: #000000;
}

center{
    margin-top: 100px;
}

.botones{
    margin-top: 100px;
}


.imagenes{
    margin-top: 20px;
}

.encabezado{
    padding: 1%;
    text-align: center;
    padding: 10px;

    /* Colores */
    color: whitesmoke;
}

.footer{
    padding: 1%;
    padding: 10px;
    text-align: center;
    
    /* Colores */
    color: whitesmoke;
    background-color:teal;
}
