*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Georgia;
    font-size: large;
}

.contenedor{
    margin: 1%;
    height: 100%;

    max-width: 900px;
    
    
    background-color: teal;
}


.encabezado{
    padding: 1%;
    text-align: center;
    padding: 10px;

    /* Colores */
    color: whitesmoke;
}

.footer{
    padding: 1%;
    padding: 10px;
    text-align: center;
    
    /* Colores */
    color: whitesmoke;
    background-color:teal;
}

.form{
    padding: 1%;
    
    text-align: justify;
    width: 95%;

    min-height: 600px;

    

    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* Colores */
    border: black solid 3px;
    background-color: whitesmoke;
    color: #000000;
}

.form1{
    display: flex;
    flex-direction: column;
}

.form h2{
    margin-top: 20px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    width: 80%;
    height: 80%;
    color: teal;
}