/* Selector universal */
*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Georgia;
}


/* Selector de clases */
.contenedor{    
    margin: 1%;
    display: flex;
    flex-direction: column;
    height: 100%;

    
    background-color: teal;
}

.nav{
    padding: 1%;
    flex-wrap: nowrap;
    
    justify-content: center;
    width: 95%;

    /* Colores */
    background-color: whitesmoke;
    border: black solid 3px;
}

.header{
    padding: 1%;
    text-align: center;
    padding: 10px;

    /* Colores */
    color: whitesmoke;
}

.contenido{
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 650px;
    text-align: justify;
    width: 95%;

    justify-content: center;
    align-items: center;
    
    /* Colores */
    border: black solid 3px;
    background-color: whitesmoke;
    color: #000000;
}


.footer{
    padding: 1%;
    padding: 10px;
    text-align: center;
    
    /* Colores */
    color: whitesmoke;
    background-color:teal;
    
}


nav{
    display: flex;
    flex-direction: row;
}

nav a{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid teal;
    color: black;
    border: black 1px solid;
    margin: 10px auto;
    width: 20%;
}

.bookwide{
    min-width: 300px;
    min-height: auto;

    width: 100%;
    height: auto;
    border: 3px teal solid;
}

section{
    width: 60%;
    height: 100%;
}

aside{
    margin: 1%;
    width: 30%;
    height: 100%;
    border: 3px solid teal;
}

h3{
    font-weight: lighter;
}


/* PAGINA DE PRODUCTOS */

.contenidoP{
    padding: 1%;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    text-align: center;

    
    
    /* Colores */
    border: black solid 3px;
    background-color: whitesmoke;
    color: #000000;
}

.imagenes{
    text-align: center;
    width: 20%;
    height: 20%;
    border: 3px solid teal;

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    text-align: center;
}

.imagenes img{
    width: 350px;
    height: 500px;
    margin-top: 10px;
    text-align: center;
    border: 3px solid teal;
}

.textoP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.imagenes h4{
    margin: 5%;
    color: teal;
    text-align: center;
    font-weight: bolder;
}

.imagenes h3{
    margin: 20px;
    text-align: center;
}


/* PAGINA DE CONTACTOS */

.contenidoC{
    padding: 1%;
    display: flex;
    flex-direction: column;
    min-height: 650px;
    text-align: justify;
    width: 95%;

    
    
    /* Colores */
    border: black solid 3px;
    background-color: whitesmoke;
    color: #000000;
}

.contenidoC section{
    margin-right: 40%;
}

/* Pagina de empresa */

.imgEmpresa{
    margin: 1%;
    text-align: center;
    width: 80%;
    height: 80%;
}

.imgEmpresa img{
    width: 100%;
    height: 100%;
}

.imgEmpresa img{
    border: 3px solid teal;
}

.imgEmpresa h2{
    margin: 1%;
    color: teal;
}

.textoE{
    margin-top: 1%;
    color: teal;
}

/* INDEX PAGE */

.aside{
    order: 0;
  }

.section{
    order: 2;
}

@media (max-width: 500px) {
    .section {
      order: 0;
      margin-left: initial;
    }

    .textoE{
        padding-top: 15%;
        margin: 10%;
        color: teal;
    }
  }

@media (max-width: 1600px){
    .contenidoP{
        padding: 1%;
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
    
        justify-content: center;
        align-items: center;
        
        /* Colores */
        border: black solid 3px;
        background-color: whitesmoke;
        color: #000000;
    }

    /* index page */
    .contenido{
        padding: 1%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 650px;
        text-align: justify;
        width: 95%;

        justify-content: center;
        align-items: center;
        
        /* Colores */
        border: black solid 3px;
        background-color: whitesmoke;
        color: #000000;
    }

    .section{
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .aside{
        width: 95%;
        height: auto;
        border: 3px solid teal;
        justify-content: center;
        align-items: center;
    }

    .bookwide{
        width: 95%;
        height: auto;
        justify-content: center;
        align-items: center;

        border: 3px teal solid;
    }

    /* product page*/
    
    .imagenes{
        margin: 3%;
        text-align: center;
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    }

    .textoE{
        margin-top: 10%;
        color: teal;
    }
}




